<config>
    <username>public</username>
    <region_root_folder>/home/canakoglu/hadoop_backup/user/public/regions</region_root_folder>
    <repository_public_data_folder>/home/canakoglu/gmql_repository/data_backup/public</repository_public_data_folder>
    <datasets_folders>
        <root_folder>/home/canakoglu/GMQL-sources/GMQL-DatasetLoader/</root_folder>
        <root_folder>/Users/canakoglu/GMQL-sources/GMQL-DatasetLoader/</root_folder>
    </datasets_folders>

    <delete_datasets>
        <dataset_name>HG19_GENCODE_ANNOTATION</dataset_name>
        <dataset_name>GRCh38_GENCODE_ANNOTATION</dataset_name>

        <dataset_name>hello</dataset_name>
    </delete_datasets>

    <datasets_xml>
        <!--<dataset_name>HG19_BED_ANNOTATION</dataset_name>-->
        <!--<dataset>-->
            <!--<old_dataset_name>HG19_BED_ANNOTATION_V2</old_dataset_name>-->
            <!--<dataset_name>HG19_BED_ANNOTATION</dataset_name>-->
        <!--</dataset>-->
    </datasets_xml>
    <datasets_folder>
        <!--<dataset>-->
            <!--<dataset_name>hello</dataset_name>-->
            <!--<directory>Example/files</directory>-->
            <!--<schema>Example/files/schema.xml</schema>-->
        <!--</dataset>-->

        <dataset>
            <dataset_name>Example_Dataset_1</dataset_name>
            <directory>Example/Example_Datasets_2-1-18_mm/Example_Dataset_1/files/</directory>
            <schema>Example/Example_Datasets_2-1-18_mm/Example_Dataset_1/files/schema.xml</schema>
        </dataset>
        <dataset>
            <dataset_name>Example_Dataset_2</dataset_name>
            <directory>Example/Example_Datasets_2-1-18_mm/Example_Dataset_2/files/</directory>
            <schema>Example/Example_Datasets_2-1-18_mm/Example_Dataset_2/files/schema.xml</schema>
        </dataset>

        <dataset>
            <dataset_name>GRCh38_GENCODE_ANNOTATION</dataset_name>
            <directory>Example/GRCh38_GENCODE_ANNOTATION/</directory>
            <schema>Example/GRCh38_GENCODE_ANNOTATION/schema.xml</schema>
        </dataset>
        <dataset>
            <dataset_name>HG19_GENCODE_ANNOTATION</dataset_name>
            <directory>Example/HG19_GENCODE_ANNOTATION</directory>
            <schema>Example/HG19_GENCODE_ANNOTATION/schema.xml</schema>
        </dataset>
    </datasets_folder>


</config>
