<config>
    <username>public</username>
    <region_root_folder>/home/canakoglu/hadoop_backup/user/public/regions</region_root_folder>
    <repository_public_data_folder>/home/canakoglu/gmql_repository/data_backup/public</repository_public_data_folder>
    <datasets_folders>
        <root_folder>/home/canakoglu/GMQL-sources/GMQL-DatasetLoader/</root_folder>
        <root_folder>/Users/canakoglu/GMQL-sources/GMQL-DatasetLoader/</root_folder>
        <root_folder>/home/hduser/gmql_importer</root_folder>
    </datasets_folders>

    <delete_datasets>
        <dataset_name>HG19_TADs_Dixon</dataset_name>
        <dataset_name>HG19_TADs_Aiden</dataset_name>

        <!--<dataset_name>hello</dataset_name>-->
    </delete_datasets>

    <datasets_xml>
        <!--<dataset_name>HG19_BED_ANNOTATION</dataset_name>-->
        <!--<dataset>-->
            <!--<old_dataset_name>HG19_BED_ANNOTATION_V2</old_dataset_name>-->
            <!--<dataset_name>HG19_BED_ANNOTATION</dataset_name>-->
        <!--</dataset>-->
    </datasets_xml>
    <datasets_folder>
        <!--<dataset>-->
            <!--<dataset_name>hello</dataset_name>-->
            <!--<directory>Example/files</directory>-->
            <!--<schema>Example/files/schema.xml</schema>-->
        <!--</dataset>-->

        <dataset>
            <dataset_name>HG19_TADs_Aiden</dataset_name>
            <directory>HG19_TADs_Aiden/Transformations/</directory>
            <schema>HG19_TADs_Aiden/Transformations/HG19_TADs.schema</schema>
        </dataset>
        <dataset>
            <dataset_name>HG19_TADs_Dixon</dataset_name>
            <directory>HG19_TADs_Dixon/Transformations/</directory>
            <schema>HG19_TADs_Dixon/Transformations/HG19_TADs.schema</schema>
        </dataset>

        <!--<dataset>-->
            <!--<dataset_name>GRCh38_GENCODE_ANNOTATION</dataset_name>-->
            <!--<directory>Example/GRCh38_GENCODE_ANNOTATION/</directory>-->
            <!--<schema>Example/GRCh38_GENCODE_ANNOTATION/schema.xml</schema>-->
        <!--</dataset>-->
        <!--<dataset>-->
            <!--<dataset_name>HG19_GENCODE_ANNOTATION</dataset_name>-->
            <!--<directory>Example/HG19_GENCODE_ANNOTATION</directory>-->
            <!--<schema>Example/HG19_GENCODE_ANNOTATION/schema.xml</schema>-->
        <!--</dataset>-->
    </datasets_folder>


</config>
